<section class="hero">
  <div class="hero-index-img">
  </div>
  <div class="hero-index">

    <h1>Welcome</h1>
    <p>Check out some new movies and shows</p>
  </div>
</section>

<section class="sliders">

  <a class="h1-links" href="/movies"><h1>Popular Movies</h1></a>
  <div class="shows-container-outer">
    {{#each moviesAndTv.movies}}

      <div class="shows-container-inner">
        <a href="/profile"><img
            class="imgs"
            src="https://image.tmdb.org/t/p/w500{{this.poster_path}}"
            alt="image show {{title}}"
          /></a>
        <span>{{vote_average}}</span>
        <h3>{{this.title}}</h3>
      </div>
      {{! <form class="add-form" action="post">
        <button class="add-btn">+</button>
      </form> }}
    {{/each}}
  </div>

</section>

<section class="sliders">

  <a class="h1-links" href="/tvshows"><h1>Popular Tv</h1></a>
  <div class="shows-container-outer">
    {{#each moviesAndTv.tv}}

      <div class="shows-container-inner">
        <a href="/profile"><img
            class="imgs"
            src="https://image.tmdb.org/t/p/w500{{this.poster_path}}"
            alt="image show {{title}}"
          /></a>
        <span>{{vote_average}}</span>
        <h3>{{this.name}}</h3>
      </div>
    {{/each}}
  </div>

</section>