<main class="profile-main">

  <section class="profile-personal-info">

    <img
      class="profile-img"
      src="/images/profile-icon-png-899.png"
      alt="Profile Photo"
    />
    <h1>{{user.username}}</h1>

  </section>

  <section class="to-watch">
    <h1>Watch list</h1>
    <form method="post" action="/addMovie">
      <input name="movieName" placeholder="Name of movie" />
      <button type="submit">+</button>
    </form>

  </section>

  <form action="/logout" method="post">

    <button
      class="logout-btn"
      type="submit"
      action="/logout"
      method="post"
    >Logout</button>

  </form>

  <section class="sliders">

    <div class="lg-container">
      {{#each movies}}

        <div class="shows-container-inner">
          <a href="/details/{{this.id}}"><img
              class="imgs"
              src="https://image.tmdb.org/t/p/w500{{this.poster_path}}"
              alt="image show {{title}}"
            /></a>
          <span>{{vote_average}}</span>
          <h3>{{this.title}}</h3>
        </div>
      {{/each}}
    </div>

  </section>
</main>

<form method="post" action="/addMovie">

  <input name="movieName" placeholder="Name of movie" />
  <button type="submit">+</button>

</form>