<main class="profile-main">
  <form method="post" action="/addMovie">

    <input class="search-box" name="movieName" placeholder="Name of movie" />
    <button class="search-btn-submit" type="submit">+</button>

  </form>

  <h1>Watch list</h1>
  <div class="profile-container">

    {{#each movies}}

      <div class="shows-container-inner profile">
        <a href="/details/{{this.id}}"><img
            class="imgs"
            src="https://image.tmdb.org/t/p/w500{{this.poster_path}}"
            alt="image show {{title}}"
          /></a>
        <span>{{vote_average}}</span>
        <h3>{{this.original_title}}</h3>
        {{!-- <p>{{overview}}</p> --}}
      </div>
    {{/each}}
  </div>

</main>