<section class="sliders">

  <h1>Popular Shows</h1>
  <div class="shows-container-outer">
    {{#each tvshows}}

      <div class="shows-container-inner">
        <a href="/details/{{this.id}}"><img
            class="imgs"
            src="https://image.tmdb.org/t/p/w500{{this.poster_path}}"
            alt="image show {{title}}"
          /></a>
        <span>{{vote_average}}</span>
        <h3>{{this.name}}</h3>
        <P>{{this.first_air_date}}</P>
      </div>
    {{/each}}
  </div>

</section>